<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICremaHostService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IRuntimeServiceInternal">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4004/CremaHostService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICremaHostService"
                contract="CremaHostService.ICremaHostService" name="NetTcpBinding_ICremaHostService" />
            <endpoint address="net.tcp://localhost:4004/RuntimeService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRuntimeServiceInternal"
                contract="ServiceClient.IRuntimeServiceInternal" name="NetTcpBinding_IRuntimeServiceInternal" />
        </client>
    </system.serviceModel>
</configuration>